<div class="mt-5">
  <div class="form">
    <div class="mb-3">
      <label for="pregunta1" class="form-label">Introduzca el total a pagar</label>
      <input type="number" [(ngModel)]='total' class="form-control" id="pregunta1" />
    </div>
    <div class="mb-3">
      <label for="pregunta2" class="form-label">Introduzca cantidad de personas</label>
      <input type="number" [(ngModel)]="personas" class="form-control" id="pregunta2" />
    </div>
    <div class="mb-3">
      <label for="pregunta1" class="form-label">Introduzca el porcentaje de propina</label>
      <input type="number" [(ngModel)]="propina" class="form-control" id="pregunta1" />
    </div>
    <div class="mb-3">
      <label for="pregunta1" class="form-label">Introduzca el porcentaje de impuestos</label>
      <input type="number" [(ngModel)]="impuestos" class="form-control" id="pregunta1" />
    </div>
    <button type="submit" class="btn btn-primary mb-3" (click)="calcular()"  >Total a pagar</button>

  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Total: {{total | currency}}</li>
      <li class="list-group-item">Total personas: {{personas}}</li>
      <li class="list-group-item">Propina: {{calcularPropina() | currency}}</li>
      <li class="list-group-item">Impuestos: {{calcularImpuestos() | currency}}</li>
      <li class="list-group-item">Total a pagar: {{aPagar | currency}}</li>
      <li class="list-group-item">Total por persona: {{aPagar / personas | currency}}</li>
    </ul>
  </div>


</div>


</div>


